.navbar{
    background-color: #2699fb;
    padding-top: 0%;
    padding-bottom: 0%;
}

.brandcolor{
    color:white;
    font-size: 175%;
}
.navbarback{
    padding-top: 0cm;
}
.icons{
    color: white;
}
